# My Jupyter Notebook on IBM Watson Studio

**Aidar Sultanov**

Data Engineer

*I would like to extend my knowledge and incorporate data science into my engineering career.*

### The following code prints values from 1 to 10

In [6]:
for a in range(0,10):
    b = a + 1
    print (b)

1
2
3
4
5
6
7
8
9
10

* one
* two
* three
* four 
* five




1. one
2. two
3. three
4. four 
5. five


www.coursera.org